:root {
    --color: #19283f;
}

body {
    font-family: "Roboto",sans-serif;
    height: 200vh;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

/*Start navbar*/
.navbar {
    background-color: var(--color);
}

.navbar .navbar-nav .nav-item {
    padding-right: 15px;
}

.navbar .navbar-nav .nav-link {
    color: white;
    margin-left: 35px;
}
/*End navbar*/

/*Start Projects*/
.landing .box {

    display: flex;
}

.landing .title  {
    text-align: center;
    padding-bottom: 70px;
}
.landing .title p {
    margin: auto;
    font-size: 20px;
    color: black;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.landing .title p::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 50px;
    background: linear-gradient(#ff8008,#fff);
    top: -15px;
    left: 0;
    z-index: -1;
    /*transform: rotate(10deg);*/
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.landing .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.landing .box .card {
    transition: 0.5s ease;
}

.landing .box .card:hover {
    transform: scale(1.1);
}

.landing .box .left-box {
    flex-basis: 30%;
    padding-right: 110px;
}

/*.landing .box .left-box h1 {*/
/*    font-size: 48px;*/
/*    font-weight: 700;*/
/*    font-style: normal;*/
/*}*/

/*.landing .box .left-box p {*/
/*    font-size: 16px;*/
/*    color: rgb(59, 59, 59);*/
/*    font-family: "Roboto",sans-serif;*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*    padding-bottom: 20px;*/
/*}*/

/*.landing .box .left-box button {*/
/*    background-color: orange;*/
/*    color:white ;*/
/*}*/

/*.landing .box .left-box .logs {*/
/*    padding-top: 30px;*/
/*}*/

.landing .box .medium-box {
    flex-basis: 30%;
    padding-right: 110px;

}

.landing .box .right-box {
    flex-basis: 30%;
    padding-right: 110px;

}

/*.landing .box .right-box img {*/
/*    width: 100%;*/
/*}*/
/*End Projects*/